*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f3f3f3;
    font-family: 'jost', sans-serif;
    overflow-x: hidden;
}
nav{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 86px;
    z-index: 1;
    background-color: #f3f3f3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo{
  position: fixed;
  top: 9px;

}
nav ul{
    display: flex;
    list-style: none;
    justify-content: right;
    font-family: 'jost', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333333;
    margin: 5px 11px;
    transition: all 0.5s ease-in-out;

}
nav ul li{
    padding: 24px 24px;
}

nav ul li a{
    text-decoration: none;
    color: #333333;
  
}
nav ul li a:hover{
    color: #2F80ED;
}
#contact{
    position: relative;
    padding: 0px 22px;
    top: 4px;
    height: 67px;
    border-radius: 9px;
    font-size: medium;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: #2F80ED;
    transition: all 0.5s ease-in-out;
}
#contact a{
    text-decoration: none;
    color: #f3f3f3;
}
#contact:hover{
    background-color: #002E6C;
}
.fa-bars{
    visibility: hidden;

}
.about{
    margin-top: 210px;
    width: 50%;
    margin-left: 38px;
    font-size: 25px;
}
.aboutsec{
    display: flex;
    justify-content: space-around;

}
.aboutimg img{
    margin-top:120px;
}
.know{
    padding: 1px 41px;
    font-size: 25px;
}


.slider{
    height: 250px;
  width: 100%;
  display: grid;
   place-items: center;
   overflow: hidden;
  }

  .slide-track{
    display: flex;
    width: calc(250px * 24);
    animation: scroll 40s linear infinite;
  }

  .slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
  }

  .slide img{
    width: 100%;
  }
  


  @keyframes scroll {
    0%{
      transform: translateX(0);
    }
    100%{
      transform:  translateX(calc(-250px * 12));
    }
  }

  .social{
    margin: 50px 0px;
 }
 #fontchg h1{
    margin-top: 15px;
    color: #ffffff;
 }
 #fontchg p{
    margin-top: 9px;
    font-size: 34px;
    padding: 10px 130px;
    text-align: center;
 }
 #colors{
    color: #ffffff;
 }
 .iconsocial{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 53px;
 }
 .iconsocial a{
    text-decoration: none;
    color: #333333;
 }
 .iconsocial a:hover{
    color: #ffffff
 }
 .address{
    margin: 21px 22px;
    font-size: 30px;
 }

 .foot{
    display: flex;
    justify-content: space-around;
 }
 .designed{
    margin: 30px;
    text-align: center;
    color: #333333;
    font-size: 25px;
    font-weight: 700;
 }
 .designed a{
    text-decoration: none;
    color: #333333;
 }
 .designed a:hover{
    color: #2F80ED
 }

 .securess{
    background-image: url("img/Desktop_bg-4dbf2c5439a471e08f0e7ef245a79664f033431b914125ba80217eb060675d91.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 89%;
    margin-left: 66px;
    margin-right: 22px;
    border-radius: 13px;
    margin-bottom: 10px;
    display: grid;
    place-content: center;
    gap: 22px;
}
.securess h2{
   text-align: center;
   padding-top: 40px;
   font-size: 48px;
   font-weight: 400;
   color: #f3f3f3;
}
.securess h1{
   text-align: center;
   padding-top: 0px;
   font-size: 48px;
   font-weight: 700;
   color: #002E6C;
}
.know2{
    padding: 17px 26px;
}
.know2 ul{
    padding: 17px 26px;
}


@media screen and (max-width: 1100px) {
    .logo img{
        height: 58px;
        margin-top: 6px;
        
    }
    nav ul li{
        padding: 24px 16px;
    }
    .about{
        margin-top: 210px;
    width: 50%;
    margin-left: 38px;
    font-size: 20px;

    }
    .aboutimg img{
        height: 378px;
    }
    

    #fontchg h1{
        margin-top: -60px;
     }
     #fontchg p{
        margin-top: -14px;
        font-size: 27px;
     }
     .phone img{
        height: 50px;
    margin-top: 31px;
    margin-right: 31px;
     }

     .securess{
        width: 85%;
    }

}



@media screen and (max-width: 975px) {
    nav ul{
        flex-direction: column;
        justify-content: left;
        margin-left: 0px;
        background-color: #f3f3f3;
        height: 74vh;
        width: 100%;
        margin-top: -1289px;
        transition: 0.5s ease-in-out;
        

    }

    .fa-bars {
        color: #241C2D;
        float: right;
        font-weight: 900;
        font-size: 30px;
        position: fixed;
        top: 30px;
        right: 5px;
        width: 40px;
        cursor: pointer;
        visibility: visible;
    
   }
   #contact{
       background: none;
       color: #333333;
       display: flex;
    justify-content: flex-start;
    margin-left: -21px;
   }
   #contact a{
       color: #333333;
   }
   #contact:hover{
       background: none;
   }
   .active{
    margin-top: 63px;
   }
   .aboutsec{
       flex-direction: column-reverse;
       align-items: center;
   }
   .about{
    margin-top: 23px;
    width: 90%;
    margin-left: 5px;
    font-size: 20px;
   }
   .know{
    padding: 59px 41px;
    font-size: 25px;
   }

   
#fontchg p{
    font-size: 21px;
}
#fontchg h1{
    font-size: 31px;
}
.iconsocial{
    font-size: 38px;
}
.foot{
    flex-direction: column;
}
#margin1{
    margin-left: 50px;
}
.securess h1{
    font-size: 40px;
}

}



@media screen and (max-width: 600px) {
    .logo{
        margin-left: 0px;
        margin-top: 10px;
    }
    .logo img{
        height: 40px;
        margin-top: inherit;
    }
    .aboutimg img{
        height: 286px;
    }
    .know{
        padding: 59px 15px;
        font-size: 20px;
    }
    #fontchg p{
        font-size: 19px;
        padding: 10px 20px;
    }
    .iconsocial{
        font-size: 35px;
    }
    #margin{
        margin: 10px ;
        
    }
    #fontchg h1{
        margin-top: -18px;
    }
    .address{
        font-size: 20px;
        
    }
   
    .phone img{
        height: 45px;
    }
    .phone{
        margin: 6px 15px;
    }
    #margin1{
        margin-left: 10px;
    }

    .securess h2{
        font-size: 35px;

    }
    .securess h1{
        font-size: 40px;
    }
    .securess{
        margin-left: 25px;
        width: 89%;
        display: grid;
        place-items: center;
    }
   

}


@media screen and (max-width: 325px) {

    .aboutimg img{
        height: 250px;
    }
    .iconsocial{
        font-size: 30px;
    }
    #fontchg h1 {
        font-size: 27px;
    } 
}